{% extends "base.html" %}

{% block title %}{{ t.site_title }} – {{ t.site_subtitle }}{% endblock %}

{% block header_controls %}
  <div class="language-switch">
    <a
      class="lang-btn {% if lang == 'de' %}active{% endif %}"
      href="{{ url_for('home', lang='de') }}"
    >
      DE
    </a>
    <a
      class="lang-btn {% if lang == 'en' %}active{% endif %}"
      href="{{ url_for('home', lang='en') }}"
    >
      EN
    </a>
  </div>
{% endblock %}

{% block content %}
  <section class="hero-intro-section">
    <div class="container">
      <p class="hero-intro-text">
        Wir als MaFIa – MaschinenbauFachschaftsInitiative wollten euch eine übersichtliche Orientierung für das Studium zusammenstellen.
        Gerade am Anfang verliert man bei den vielen Modulen, Vertiefungen und Lehrstühlen schnell den Überblick.
        Wir hoffen, dass euch die Seite bei der Orientierung hilft und die Modulenwahl ein bisschen einfacher macht.

        <br><br>

        Falls euch Inhalte fehlen oder ihr eigene Erfahrungen teilen möchtet, schreibt uns gerne auf
        <a href="https://www.instagram.com/mafia_uni_rostock/" target="_blank">
          Instagram (@mafia_uni_rostock)
        </a>

        oder per Mail an

        <a href="mailto:fachschaft.mbst@uni-rostock.de">
          fachschaft.mbst@uni-rostock.de
        </a>
      </p>
    </div>
  </section>
  <section class="hero-section">
    <div class="container">
      <div class="hero-card">
        <h2>{{ t.home_title }}</h2>
        <p>{{ t.home_subtitle }}</p>

        <div class="home-grid">
          <a class="home-tile" href="{{ url_for('studiengaenge', lang=lang) }}">
            <div class="home-tile-icon">🎓</div>
            <h3>{{ t.study_programs }}</h3>
            <p>
              Hier findest du eine Übersicht nach Studiengängen. Wähle deinen Studiengang aus
              und entdecke alle Module, die du nach unserem aktuellen Stand wählen kannst.
            </p>
          </a>

          <a class="home-tile" href="{{ url_for('lehrstuehle', lang=lang) }}">
            <div class="home-tile-icon">🏛️</div>
            <h3>{{ t.chairs }}</h3>
            <p>
              Falls du dir anschauen möchtest, welche Lehrstühle es bei uns gibt
              und welche Module die haben, findest du hier eine Übersicht.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="home-disclaimer-wrap container">
    <p class="home-disclaimer-text">
      Diese Website ist keine offizielle Seite der Universität oder Fakultät.
      Alle Inhalte dienen nur zur Orientierung und können unvollständig oder veraltet sein.
      Informiert euch deshalb zusätzlich immer selbst.
    </p>
  </div>
{% endblock %}